.navbar{

position:absolute;

top:0;
left:0;

width:100%;

z-index:100;

padding:40px 0;

}

.navbar-container{

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

font-family:var(--heading-font);

font-size:2.3rem;

font-weight:500;

color:white;

}

.nav-links{

display:flex;

align-items:center;

gap:35px;

}

.nav-links a{

color:white;

font-size:1rem;

font-weight:400;

}

.login-btn{

background:transparent;

color:white;

border:1px solid rgba(255,255,255,.8);

padding:14px 36px;

border-radius:999px;

font-size:1rem;

transition:.35s;

}

.login-btn:hover{

background:white;

color:#2B2622;

}

@media (max-width:768px){

.navbar{

padding:22px 0;

}

.logo{

font-size:1.7rem;

}

.nav-links{

gap:14px;

}

.nav-links a{

font-size:.9rem;

}

.login-btn{

padding:10px 22px;

font-size:.85rem;

}

}