.container{

    width:min(1200px,90%);
    margin:auto;
}

.section{

    padding:90px 0;
}

.title{

    font-family:var(--heading-font);

    font-size:3rem;

    font-weight:600;

    color:var(--text-color);
}

.subtitle{

    color:var(--text-light);

    line-height:1.8;
}